<form method=POST action="/student/update">

<h4>

First name:<br>
<input type="text" name="fname" value="name">
<br>
Age:<br>
<input type="text" name="age"><br>
<input type="hidden" name="id" value="<%=edited.id%>">
Submit:<br>
<input type="Submit"> 
</h4>
</form>


