
<form method=POST action="/student/insert">

<h4>

First name:<br>
<input type="text" name="firstname">
<br>
Age:<br>
<input type="text" name="age"><br>
Id:<br>
<input type="text" name="Id"><br>

Submit:<br>
<input type="Submit"> 
</h4>
</form>


