<h1> Student SignUp Form </h1>

<form method=POST action="/student/insert" class="form-inline" role="form">

<div class="form-group">
	<h2 class="form-signin-heading">Create account</h2>
</div>

<div class="form-group">
Name:    
<input type="text" class="form-control" placeholder="your name" name="firstname">
<br>
</div>

<div class="form-group">
Age:
<input type="text" class="form-control" placeholder="Age" name="age">
<br>
</div>

<div class="form-group">
Number:
<input type="text" class="form-control" placeholder="Number" name="Id">
<br>
</div>


<input type="submit" name="submit" value="Create Account">

</form>


